# Project II: Economic Growth 

This notebook will help you getting started with analyzing the growth dataset, `growth.csv`.

In [1]:
import pandas as pd 
import numpy as np 
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt

%load_ext autoreload
%autoreload 2
import tools as lm

## Read data

In [17]:
dat = pd.read_csv('data/ppcs_cc.csv')
assert len(dat.year.unique())==1

# characteristics
print(f'The data contains {dat.shape[0]} rows and {dat.shape[1]} columns (variables) and is cross-sectional \n')
print(f'Variables are \n {dat.columns} \n')
dat

The data contains 3799 rows and 19 columns (variables) and is cross-sectional

Variables are
 Index(['sblack', 'shisp', 'swhite', 'sother', 'smale', 'sage', 'sempl',
       'sincome', 'spop', 'daytime', 'inctype_lin', 'omajblack', 'omajhisp',
       'omajwhite', 'omajother', 'osplit', 'sbehavior', 'year',
       'anyuseofforce_coded'],
      dtype='object')

,sblack,shisp,swhite,sother,smale,sage,sempl,sincome,spop,daytime,inctype_lin,omajblack,omajhisp,omajwhite,omajother,osplit,sbehavior,year,anyuseofforce_coded
0,1,0,0,0,1,18,0,1,1,1,2,0,0,1,0,0,0,2011,0
1,1,0,0,0,1,20,1,2,4,0,2,0,0,1,0,0,0,2011,0
2,1,0,0,0,1,22,1,2,3,1,2,0,0,1,0,0,0,2011,0
3,1,0,0,0,1,22,1,3,1,1,2,0,0,1,0,0,0,2011,0
4,1,0,0,0,1,22,1,1,1,1,2,0,0,1,0,0,0,2011,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3794,0,0,1,0,0,72,1,3,1,0,1,0,0,1,0,0,1,2011,0
3795,0,0,1,0,0,71,0,2,1,1,2,0,0,1,0,0,0,2011,0
3796,0,0,1,0,0,76,0,1,1,1,2,0,0,1,0,0,0,2011,0
3797,0,0,1,0,0,79,0,3,4,1,2,0,0,1,0,0,0,2011,0
3798,0,0,1,0,0,75,0,2,1,1,2,0,0,1,0,0,0,2011,0

In [18]:
dat['anyuseofforce_coded']

0       0
1       0
2       0
3       0
4       0
       ..
3794    0
3795    0
3796    0
3797    0
3798    0
Name: anyuseofforce_coded, Length: 3799, dtype: int64

In [19]:
# define y and x 
N,K = dat.shape

y = dat['anyuseofforce_coded'].to_numpy().reshape((N,1))

x_drop = ['anyuseofforce_coded', # y
          'year', # constant
          'swhite', # reference dummy
          ]
x_keep = [i for i in dat.columns if i not in x_drop]
x = dat[x_keep].to_numpy().reshape((N,K-len(x_drop)))

In [ ]:
# variable categories
race = ['sblack', 'shisp', 'swhite', 'sother']
gender = ['smale']